{% extends 'base/base.html' %}

{% block title %}App Aspirante {% endblock %}
{% block header %}<h4>Page Principal Aspirante </h4>{% endblock %}
{% block content %}
    <a class="btn btn-primary" href="{% url 'aspirante:congreso_listar' %}">Congresos</a>
    <a class="btn btn-primary" href="{% url 'aspirante:aspirante_list' %}">Aspirantes</a>
    <a class="btn btn-primary" href="{% url 'aspirante:exp_laboral_list' %}">Experiencias</a>
    <a class="btn btn-primary" href="{% url 'aspirante:hab_tecnica_list' %}">Habilidades</a>
    <a class="btn btn-primary" href="{% url 'aspirante:libro_list' %}">Libros</a>
    <a class="btn btn-primary" href="{% url 'aspirante:logro_list' %}">Logros</a>
    <a class="btn btn-primary" href="{% url 'aspirante:recomendacion_list' %}">Recomendaciones</a>
    <a class="btn btn-primary" href="{% url 'aspirante:certificacion_list' %}">Certificaciones</a>
    <a class="btn btn-primary" href="{% url 'aspirante:conoc_academico_list' %}">Conocimientos</a>



{% endblock %}
