{% extends 'base/base.html' %}
{% block content %}
<a class="btn btn-primary" href="{% url 'evaluacion:examen_crear'%}">Nuevo</a>
<br>
<br>
<table class="table table-bordered">
   <thead>
   <tr>
       <td>Nombre</td>
       <td>Duracion</td>
   </tr>
   </thead>
    <tbody>
    {% if examenes %}
    {% for exa in examenes %}
    <tr>
        <td>{{ exa.exanombre }}</td>
        <td>{{ exa.exaduracion }}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'evaluacion:examen_editar' exa.ExamenID %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'evaluacion:examen_eliminar' exa.ExamenID %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <h1>No hay registros</h1>
    {% endif %}
    </tbody>
</table>
{% endblock %}