{% extends 'base/base.html' %}
{% block content %}
    <a class="btn btn-primary" href="{% url 'empresa:puesto_create'%}">Nuevo</a>
    <br>
    <br>
    <table class="table table-bordered">
    <thead>
    <tr>
        <td>Nombre</td>
        <td>Codigo</td>
        <td>Empresa</td>
        <td>Acciones</td>
    </tr>
    </thead>
    <tbody>
    {% if object_list %}
    {% for puesto in object_list %}
    <tr>
        <td>{{ puesto.nombre }}</td>
        <td>{{ puesto.codigo }}</td>
        <td>{{ puesto.empresa.nombre }}</td>
        <td>
        <a class="btn btn-primary" href="{% url 'empresa:puesto_editar' puesto.id %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'empresa:puesto_eliminar' puesto.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <h1>No hay registros</h1>
    {% endif %}
    </tbody>
    </table>
{% endblock %}