{% extends 'base/base.html' %}
{% block title %}Enviar Email {% endblock %}

<div class="container">
{% block header %}
<h2>Nuevo Mail</h2>
{% endblock %}
</div>

{% block content %}
    <form id="form" method="post">
    {% csrf_token %}
        <!--<div class="row">
            <div class="col-md-4 ">
                <label for="{{ form.primer_nombre.name }}">Primer Nombre</label>
                {{ form.primer_nombre }}
            </div>

            <div class="col-md-4 ">
                <label for="{{ form.segundo_nombre.name }}">Segundo Nombre</label>
                {{ form.segundo_nombre }}
            </div>
        </div>-->
    {{ form.as_p }}
    <input type="submit" value="Enviar"/>
    </form>
{% endblock %}