{% extends 'base/base.html' %}
{% block content %}
    <a class="btn btn-primary" href="{% url 'aspirante:conoc_academico_create'%}">Nuevo</a>
    <br>
    <br>
    <table class="table table-bordered">
    <thead>
    <tr>
        <td>Titulo</td>
        <td>Institucion</td>
        <td>Codigo</td>
        <td>Acciones</td>
    </tr>
    </thead>
    <tbody>
    {% if object_list %}
    {% for conoc in object_list %}
    <tr>
        <td>{{ conoc.titulo }}</td>
        <td>{{ conoc.institucion}}</td>
        <td>{{ conoc.codigo }}</td>
        <td>
        <a class="btn btn-primary" href="{% url 'aspirante:conoc_academico_editar' conoc.id %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'aspirante:conoc_academico_eliminar' conoc.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <h1>No hay registros</h1>
    {% endif %}
    </tbody>
    </table>
{% endblock %}